* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
}

nav {
    padding: 50px;
}

.colormenu {
    visibility: hidden;
}

li {
    padding: 20px 60px;
    margin-bottom: 3px;
    width: 200px;
    font-family: arial;
    border-width: 20px;
}
.hamburgermenu{
    width:50px;
    background-color: #fff;
    padding: 2px;
    border-radius: 20px;
}

.home {
    background-color: rgb(92, 91, 91);
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.purple {
    background-color: purple;
}

.green {
    background-color: green;
}